.navbar-nav{
    margin: 0 auto;
    text-align: center;
}
.btn{
    border: 2px solid #5E3BEE; /* purple border */
    color: #5E3BEE; /* purple text */
}
  

  .btn:hover {
    background-color: #5E3BEE; /* purple background */
    color: white;
    /* white text */
  }
  .col-md-6{
    font-size: 1.5em;
    color: #282938;
    font-family: 'roboto';
    font-weight: 600;
    font-style: semi-bold;
  }
.fw-bold{
    color: #282938;
    font-size: 2em;
    font-family: 'roboto';
    font-weight: 700;
}
.fw-bold-span{
    color: #5E3BEE;
    
}
.btn{
    background-color: #5E3BEE;
    color: #fff;
    border-radius: 0%;
    
}
.card img{
  width: 3.5em;
  height: auto;
margin-left: 200px;
margin-top: 20px;
}
.card{
  width: 28em;
  height: 20em;
  margin: 80px;
  text-align: center;
  
}
.card-title{
  font-family: 'roboto';
  font-weight: 700;
  color: #282938;
  font-size: 1.7em;
}
.card-text{
  font-family: 'roboto';
  font-weight: 400;
  color: #6C6C6C;
  font-size: 1.2em;
}
.margin{
  margin: 40px;
}